@media  (max-width: 576px) {

    * {
        font-size: 14px;
    }

    .cabecalho {
        flex-direction: column;
        justify-content: space-between;
        width: 130%;
    }

    .cabecalho-logo {
        width: 50%;
    }

    .cabecalho h2 {
        width: 50%;
    }


    .cabecalho-menu {
        position: relative;
        top: 20px;

    }

    .cabecalho-menu ul li {
        font-size: 1.1rem;
    }

    .main {
        width: 130%;
        flex-direction: column;
    }

    .main-imagem {
        width: 150%;
    }

    .main p {
        font-size: 1rem;
    }

    .main h2 {
        font-size: 2.5rem;
    }

    .main img {
        width: 130%;
    }

    .main-titulo h2 span {
        font-size: 2rem;
    }

    .main-botao {
        width: 100%;
    }

    .section-one {
        width: 130%;
    }

    .section-titulo h2 {
        font-size: 3rem;     
    }

    .section-one-card {
        width: 130%;
    }

    .card {
        width: 20%;
    }

    .section-two {
        width: 130%;
    }

    .section-two-card {
        width: 130%;
    }

    .section-two-botao {
        width: 130%;
    }

    .section-three {
        width: 130%;
    }

    .section-three-form {
        width: 130%;
    }

    .dados-pessoais {
        width: 100%;
    }

    .coluna-1 {
        width: 100%;
    }

    .form-botoes input[type="submit"] {
        width: 700%;

    }

    .form-botoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodape {
        width: 135%;
    }

    .footer-botao-flecha {
        position: relative;
        right: 170px;
    }

}