@media  (max-width: 576px) {

    * {
        font-size: 14px;
    }

    .cabecalho {
        width: 100%;
    }

    .cabecalho h2 {
        width: 10%;
    }

    nav {
        width: 100%;
    }

    .cabecalho-menu ul li {
        font-size: 1.1rem;
    }

    .main {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .main p {
        font-size: 1rem;
    }

    .main h2 {
        font-size: 4rem;
    }

    .main figure img {
        width: 100%;
    }

    .main-titulo h2 span {
        font-size: 4rem;
    }

    .main-botao {
        width: 100%;
    }

    .section-one {
        width: 100%;
    }

    .section-titulo h2 {
        font-size: 3rem;     
    }

    .section-one-card {
        width: 100%;
    }

    .card {
        width: 50%;
    }

    .section-two {
        width: 100%;
    }

    .section-two-card {
        width: 100%;
    }

    .section-two-botao {
        width: 100%;
    }

    .section-three {
        width: 100%;
    }

    .section-three-form {
        width: 100%;
    }

    .dados-pessoais {
        width: 100%;
    }

    .coluna-1 {
        width: 100%;
    }

    .form-botoes input[type="submit"] {
        width: 510%;

    }

    .form-botoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodape {
        width: 100%;
    }

    .footer-botao-flecha {
        position: relative;
        right: 100px;
    }

}